body {
    font-family: sans-serif;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Full-screen sections */
.full-screen {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax effect */
}

/* Cover Page Styles */
#cover {
    background-image: url(images/zvjezdana_final.gif)
}

.cover-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Shared background for scrollytelling sections */
.scrolly-section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax effect */

    /* Initial state for fade-in animation */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Add this class to trigger the fade-in effect */
.scrolly-section.active {
    opacity: 1;
}


/* Content box for scrollytelling sections */
.scrolly-section .content {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    opacity: 0; /* hidden by default */
    transition: opacity 1s ease-in-out; /* fade-in effect */
}

.scrolly-section.active .content {
    opacity: 1; /* visible when section is active */
}

/* Different photos to each section */
#section1 {
    background-image: url('images/zvjezdana_static.jpg'); /* Replace with your background image */
}

#section2 {
    background-image: url('images/opcije_zvjezdana.webp'); /* Replace with your background image */
}

#section3 {
    background-image: url('images/zvjezdana_static.jpg'); /* Replace with your background image */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .scrolly-section .content {
        max-width: 90%;
    }

    .full-screen,
    .scrolly-section {
        background-attachment: scroll; /* Disable parallax on mobile */
    }
}